BEGIN;
--
-- Add field parent to category
--
ALTER TABLE "blog_category" ADD COLUMN "parent_id" bigint NULL CONSTRAINT "blog_category_parent_id_2d80fe5c_fk_blog_category_id" REFERENCES "blog_category"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "blog_category_parent_id_2d80fe5c_fk_blog_category_id" IMMEDIATE;
--
-- Add field type to category
--
ALTER TABLE "blog_category" ADD COLUMN "type" varchar(20) DEFAULT 'none' NOT NULL;
ALTER TABLE "blog_category" ALTER COLUMN "type" DROP DEFAULT;
--
-- Alter field slug on category
--
-- (no-op)
CREATE INDEX "blog_category_parent_id_2d80fe5c" ON "blog_category" ("parent_id");
COMMIT;
