BEGIN;
--
-- Add field helpful_count to blogpost
--
ALTER TABLE "blog_blogpost" ADD COLUMN "helpful_count" integer DEFAULT 0 NOT NULL CHECK ("helpful_count" >= 0);
ALTER TABLE "blog_blogpost" ALTER COLUMN "helpful_count" DROP DEFAULT;
--
-- Add field not_helpful_count to blogpost
--
ALTER TABLE "blog_blogpost" ADD COLUMN "not_helpful_count" integer DEFAULT 0 NOT NULL CHECK ("not_helpful_count" >= 0);
ALTER TABLE "blog_blogpost" ALTER COLUMN "not_helpful_count" DROP DEFAULT;
--
-- Alter field type on category
--
-- (no-op)
--
-- Create model BlogFeedback
--
CREATE TABLE "blog_blogfeedback" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "is_helpful" boolean NOT NULL, "comment" text NOT NULL, "ip_address" inet NOT NULL, "created_at" timestamp with time zone NOT NULL, "blog_post_id" bigint NOT NULL);
ALTER TABLE "blog_blogfeedback" ADD CONSTRAINT "blog_blogfeedback_blog_post_id_ip_address_9242cc76_uniq" UNIQUE ("blog_post_id", "ip_address");
ALTER TABLE "blog_blogfeedback" ADD CONSTRAINT "blog_blogfeedback_blog_post_id_221dfc91_fk_blog_blogpost_id" FOREIGN KEY ("blog_post_id") REFERENCES "blog_blogpost" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "blog_blogfeedback_blog_post_id_221dfc91" ON "blog_blogfeedback" ("blog_post_id");
COMMIT;
