BEGIN;
--
-- Create proxy model HighRiskInsuranceCompany
--
-- (no-op)
--
-- Create model CompanyReview
--
CREATE TABLE "company_companyreview" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(255) NOT NULL, "slug" varchar(255) NOT NULL UNIQUE, "summary" text NOT NULL, "content" text NOT NULL, "rating" integer NULL, "author_name" varchar(255) NOT NULL, "is_published" boolean NOT NULL, "published_at" timestamp with time zone NOT NULL, "company_id" bigint NOT NULL);
ALTER TABLE "company_companyreview" ADD CONSTRAINT "company_companyrevie_company_id_281bea0e_fk_company_i" FOREIGN KEY ("company_id") REFERENCES "company_insurancecompany" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "company_companyreview_slug_3aadf766_like" ON "company_companyreview" ("slug" varchar_pattern_ops);
CREATE INDEX "company_companyreview_company_id_281bea0e" ON "company_companyreview" ("company_id");
COMMIT;
