BEGIN;
--
-- Create model InsuranceCompany
--
CREATE TABLE "company_insurancecompany" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(150) NOT NULL, "slug" varchar(160) NOT NULL UNIQUE, "description" text NOT NULL, "website" varchar(200) NOT NULL, "phone" varchar(30) NOT NULL, "address" text NOT NULL, "logo" varchar(100) NULL, "is_active" boolean NOT NULL, "order" integer NOT NULL CHECK ("order" >= 0), "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL);
--
-- Delete model CompanyPage
--
DROP TABLE "company_companypage" CASCADE;
--
-- Delete model ContactInfo
--
DROP TABLE "company_contactinfo" CASCADE;
--
-- Delete model ContactMessage
--
DROP TABLE "company_contactmessage" CASCADE;
--
-- Delete model TeamMember
--
DROP TABLE "company_teammember" CASCADE;
CREATE INDEX "company_insurancecompany_slug_5ace702e_like" ON "company_insurancecompany" ("slug" varchar_pattern_ops);
COMMIT;
