BEGIN;
--
-- Add field high_risk_blurb to insurancecompany
--
ALTER TABLE "company_insurancecompany" ADD COLUMN "high_risk_blurb" text DEFAULT '' NOT NULL;
ALTER TABLE "company_insurancecompany" ALTER COLUMN "high_risk_blurb" DROP DEFAULT;
--
-- Add field is_high_risk_recommended to insurancecompany
--
ALTER TABLE "company_insurancecompany" ADD COLUMN "is_high_risk_recommended" boolean DEFAULT false NOT NULL;
ALTER TABLE "company_insurancecompany" ALTER COLUMN "is_high_risk_recommended" DROP DEFAULT;
COMMIT;
