BEGIN;
--
-- Change Meta options on faq
--
-- (no-op)
--
-- Remove field keywords from faq
--
ALTER TABLE "faq_faq" DROP COLUMN "keywords" CASCADE;
--
-- Remove field meta_description from faq
--
ALTER TABLE "faq_faq" DROP COLUMN "meta_description" CASCADE;
--
-- Remove field meta_title from faq
--
ALTER TABLE "faq_faq" DROP COLUMN "meta_title" CASCADE;
--
-- Remove field summary from faq
--
ALTER TABLE "faq_faq" DROP COLUMN "summary" CASCADE;
--
-- Add field helpful_count to faq
--
ALTER TABLE "faq_faq" ADD COLUMN "helpful_count" integer DEFAULT 0 NOT NULL CHECK ("helpful_count" >= 0);
ALTER TABLE "faq_faq" ALTER COLUMN "helpful_count" DROP DEFAULT;
--
-- Add field not_helpful_count to faq
--
ALTER TABLE "faq_faq" ADD COLUMN "not_helpful_count" integer DEFAULT 0 NOT NULL CHECK ("not_helpful_count" >= 0);
ALTER TABLE "faq_faq" ALTER COLUMN "not_helpful_count" DROP DEFAULT;
--
-- Add field priority to faq
--
ALTER TABLE "faq_faq" ADD COLUMN "priority" varchar(10) DEFAULT 'medium' NOT NULL;
ALTER TABLE "faq_faq" ALTER COLUMN "priority" DROP DEFAULT;
--
-- Add field short_answer to faq
--
ALTER TABLE "faq_faq" ADD COLUMN "short_answer" text DEFAULT '' NOT NULL;
ALTER TABLE "faq_faq" ALTER COLUMN "short_answer" DROP DEFAULT;
--
-- Add field tags to faq
--
ALTER TABLE "faq_faq" ADD COLUMN "tags" varchar(255) DEFAULT '' NOT NULL;
ALTER TABLE "faq_faq" ALTER COLUMN "tags" DROP DEFAULT;
--
-- Add field icon to faqcategory
--
ALTER TABLE "faq_faqcategory" ADD COLUMN "icon" varchar(50) DEFAULT '' NOT NULL;
ALTER TABLE "faq_faqcategory" ALTER COLUMN "icon" DROP DEFAULT;
--
-- Alter field answer on faq
--
-- (no-op)
--
-- Alter field is_featured on faq
--
-- (no-op)
--
-- Alter field slug on faq
--
ALTER TABLE "faq_faq" ALTER COLUMN "slug" TYPE varchar(255);
--
-- Alter field order on faqcategory
--
-- (no-op)
--
-- Create model FAQFeedback
--
CREATE TABLE "faq_faqfeedback" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "is_helpful" boolean NOT NULL, "comment" text NOT NULL, "ip_address" inet NOT NULL, "created_at" timestamp with time zone NOT NULL, "faq_id" bigint NOT NULL);
ALTER TABLE "faq_faqfeedback" ADD CONSTRAINT "faq_faqfeedback_faq_id_ip_address_b3943d6e_uniq" UNIQUE ("faq_id", "ip_address");
ALTER TABLE "faq_faqfeedback" ADD CONSTRAINT "faq_faqfeedback_faq_id_5327c6ec_fk_faq_faq_id" FOREIGN KEY ("faq_id") REFERENCES "faq_faq" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "faq_faqfeedback_faq_id_5327c6ec" ON "faq_faqfeedback" ("faq_id");
COMMIT;
