BEGIN;
--
-- Change Meta options on companyinfo
--
-- (no-op)
--
-- Add field is_active to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "is_active" boolean DEFAULT true NOT NULL;
ALTER TABLE "pages_companyinfo" ALTER COLUMN "is_active" DROP DEFAULT;
COMMIT;
