BEGIN;
--
-- Add field show_in_navbar to staticpage
--
ALTER TABLE "pages_staticpage" ADD COLUMN "show_in_navbar" boolean DEFAULT false NOT NULL;
ALTER TABLE "pages_staticpage" ALTER COLUMN "show_in_navbar" DROP DEFAULT;
--
-- Add field nav_order to staticpage
--
ALTER TABLE "pages_staticpage" ADD COLUMN "nav_order" integer DEFAULT 0 NOT NULL CHECK ("nav_order" >= 0);
ALTER TABLE "pages_staticpage" ALTER COLUMN "nav_order" DROP DEFAULT;
--
-- Add field show_in_footer to staticpage
--
ALTER TABLE "pages_staticpage" ADD COLUMN "show_in_footer" boolean DEFAULT true NOT NULL;
ALTER TABLE "pages_staticpage" ALTER COLUMN "show_in_footer" DROP DEFAULT;
--
-- Add field footer_order to staticpage
--
ALTER TABLE "pages_staticpage" ADD COLUMN "footer_order" integer DEFAULT 0 NOT NULL CHECK ("footer_order" >= 0);
ALTER TABLE "pages_staticpage" ALTER COLUMN "footer_order" DROP DEFAULT;
COMMIT;
