BEGIN;
--
-- Add field footer_logo_alt to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "footer_logo_alt" varchar(120) DEFAULT '' NOT NULL;
ALTER TABLE "pages_companyinfo" ALTER COLUMN "footer_logo_alt" DROP DEFAULT;
--
-- Add field meta_image_alt to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "meta_image_alt" varchar(120) DEFAULT '' NOT NULL;
ALTER TABLE "pages_companyinfo" ALTER COLUMN "meta_image_alt" DROP DEFAULT;
--
-- Add field navbar_logo_alt to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "navbar_logo_alt" varchar(120) DEFAULT '' NOT NULL;
ALTER TABLE "pages_companyinfo" ALTER COLUMN "navbar_logo_alt" DROP DEFAULT;
COMMIT;
