BEGIN;
--
-- Create model CarInsuranceQuotesPage
--
CREATE TABLE "pages_carinsurancequotespage" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(200) NOT NULL, "last_updated" date NULL, "intro_paragraphs" jsonb NOT NULL, "takeaways" jsonb NOT NULL, "state_insurance_data" jsonb NOT NULL, "faqs" jsonb NOT NULL, "author_name" varchar(100) NOT NULL, "author_bio" text NOT NULL, "author_image_url" varchar(200) NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL);
--
-- Change Meta options on companyinfo
--
-- (no-op)
COMMIT;
