BEGIN;
--
-- Add field footer_logo to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "footer_logo" varchar(100) NULL;
--
-- Add field navbar_logo to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "navbar_logo" varchar(100) NULL;
COMMIT;
