BEGIN;
--
-- Add field footer_disclaimer to companyinfo
--
ALTER TABLE "pages_companyinfo" ADD COLUMN "footer_disclaimer" text DEFAULT '' NOT NULL;
ALTER TABLE "pages_companyinfo" ALTER COLUMN "footer_disclaimer" DROP DEFAULT;
--
-- Alter field page_type on staticpage
--
-- (no-op)
COMMIT;
