BEGIN;
--
-- Add field menu_label to staticpage
--
ALTER TABLE "pages_staticpage" ADD COLUMN "menu_label" varchar(100) DEFAULT '' NOT NULL;
ALTER TABLE "pages_staticpage" ALTER COLUMN "menu_label" DROP DEFAULT;
--
-- Add field nav_group to staticpage
--
ALTER TABLE "pages_staticpage" ADD COLUMN "nav_group" varchar(50) DEFAULT 'Company' NOT NULL;
ALTER TABLE "pages_staticpage" ALTER COLUMN "nav_group" DROP DEFAULT;
COMMIT;
